body{margin: 0; padding: 0; background: #f7f7f7;}

#customer{}
#customer #top-line{background: white; padding: 15px 0}
#customer #top-line .username{font-weight: bold; font-size: 1.5rem;}

#customer #navbar{background: blue; padding: 5px 0}
#customer #navbar .container{padding: 0}
#customer #navbar .navbar{padding: 0.25rem;}
#customer #navbar .navbar-nav{width: 100%; display: flex; justify-content: space-around;}
#customer #navbar .nav-item{width: 100%; text-align: center;}
#customer #navbar .nav-item:hover{background: red; color: white;}
#customer #navbar .nav-link{font-size: 1.5rem; padding: 5px 15px; text-transform: uppercase; font-weight: bold;}
#customer #navbar .nav-link:hover{color: white}

#login{width: 100%; height: 100vh; display: flex; align-items: center;}
#login-window{width: 600px; margin: auto; background: rgba(0, 0, 0, 0.5); padding: 40px; border-radius: 20px;}
#login-window .form-control{height: 50px; color: red;}

#content{background: white; min-height: 80vh;}
#content .row{margin: 0;}

#pageName{background: #0303b5;margin: 0 -15px; text-align: center; font-size: 2rem; text-transform: uppercase; font-weight: bolder; color: white; padding: 10px 0; border: 6px double white;}

.productBox{margin: 15px 5px; padding: 10px; border-radius: 10px; display: block;}
.productBox:hover{cursor: pointer; text-decoration: none; -webkit-box-shadow: 0px 0px 32px -4px rgba(171,162,171,1); -moz-box-shadow: 0px 0px 32px -4px rgba(171,162,171,1); box-shadow: 0px 0px 32px -4px rgba(171,162,171,1); }
.productBox .productName{text-align: center; font-size: 1.25rem; padding: 10px 0; color: #ff382f;}
.productBox .productPrice{text-align: center; font-size: 1.15rem; padding: 10px 0; background: #ff382f; color: white; font-weight: bold;}

.productName{font-size: 3rem; font-weight: bold; text-transform: uppercase; margin: 15px;}
.priceBand{font-size: 1.75rem; margin: 15px;}

#bidForm{padding: 25px;}
#bidForm .form-control{height: 60px;}
#bidForm .btn{height: 60px; background: red; border: none; font-size: 1.5rem; font-weight: bold; text-transform: uppercase;}

.section-heading{background: #f7f7f7; font-size: 2rem;}

#seller{height: 100vh; width: 100%; padding: 0;}

#seller #topLine{background: blue; margin: 0; padding: 5px 30px; display: flex; justify-content: space-between;}
#seller #topLine .logo{font-size: 2rem; font-weight: bold; color: white;}
#seller #topLine .adminNavbar{font-size: 1.25rem; font-weight: bold; color: white; display: flex; align-items: center;}
#seller #topLine .adminNavbar a{color: white; padding-left: 20px; text-decoration: underline; }

#seller #whiteNavbar{min-height: 50px; background: white; display: flex; align-items: center; justify-content: space-between;}
#seller #whiteNavbar a{display: block; padding: 10px 35px; font-size: 1.5rem; color: blue; text-transform: uppercase; font-weight: bolder;}
#seller #whiteNavbar a:hover{-webkit-box-shadow: 0px 0px 32px -4px rgba(171,162,171,1); -moz-box-shadow: 0px 0px 32px -4px rgba(171,162,171,1); box-shadow: 0px 0px 32px -4px rgba(171,162,171,1); text-decoration: none;}
#seller #content{background: white; margin: 10px auto; padding: 25px 50px;}
#seller #content h2{text-transform: uppercase; font-weight: bold; font-size: 1.75rem; margin-bottom: 30px; text-decoration: underline; color: blue;}
#seller #content table td, #seller #content table th{text-align: center; vertical-align: baseline;}

#seller #basePriceForm{padding: 0px;}
#seller #basePriceForm .form-control{width: 80%; height: 50px; margin-right: 5px;}
#seller #basePriceForm .btn{width: 18%; height: 50px; background: red; border: none; font-size: 1.25rem; font-weight: bold; text-transform: uppercase;}

#seller .editBtn{height: 40px; width: 50%; margin: auto; display: flex; justify-content: center; align-items: center; font-size: 1.25rem;}
