<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Seller</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body >
  <div id="seller" class="container-fluid">

    <div id="topLine" class="container-fluid">
      <div class="logo">SELLER DASHBOARD</div>
      <div class="adminNavbar">
        Welcome, Admin
      </div>
    </div>

    <div id="whiteNavbar">
      <div style="display: flex" >
        <a th:href="@{/seller/Mobiles}">Mobiles</a>
        <a th:href="@{/seller/Earphones}">Earphones</a>
        <a th:href="@{/seller/Speakers}">Speakers</a>
      </div>
      <div><a href="/seller/products" style="font-weight: normal; text-transform: capitalize; font-size: 1.25rem; text-decoration: underline;">Logout</a></div>
    </div>

    <div id="content" class="seller-container">
      <h2>Mobiles</h2>
      <table class="table table-bordered table striped">
        <thead>
        <tr>
          <th>Image</th>
          <th>Product Name</th>
          <th>Max Bid</th>
          <th># of Bids</th>
          <th>Base Price</th>
          <th style="width: 200px;">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dto: ${productList}">
          <td><img th:src="${dto.imgUrl}" alt="" class="img-fluid" style="height: 100px;"/></td>
          <td th:text="${dto.productName}"></td>
          <td th:text="${dto.maxBid}"></td>
          <td th:text="${dto.bidsCount}"></td>
          <td th:text="${dto.minPrice}"></td>
          <td>
            <a th:href="@{/seller/bids/{productId}(productId=${dto.productId})}" class="btn btn-primary editBtn">Edit</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</body>
</html>